{% extends 'base.html' %}
{% block content %}

{% if object %}
    <br>
    <h1 class="newFont">Edit <span>{{ object.brand }} {{object.name}}</span></h1>
    <div class="card-form">
        <form action="" method="POST">
            {% csrf_token %}
            <table class="form-table">
                {{ form }}
            </table>
            <button class="btn btn-success" type="submit">Save Shoe</button>
        </form>
        <br>
    </div>
{% else %}
    <br>
    <h1 class="newFont">Add Shoe</h1>
    <div class="card-form">
        <form action="" method="POST">
            {% csrf_token %}
            <table class="form-table">
                {{ form }}
            </table>
            <button class="btn btn-success" type="submit">Add Shoe</button>
        </form>
        <br>
    </div>
{% endif %}

{% endblock %}