{% extends 'base.html' %}
{% block content %}

<h1>Shoe Details</h1>

<p>User: {{ shoe.user }}</p>
<p>Name: {{ shoe.name }}</p>
<p>Brand: {{ shoe.brand }}</p>
<p>Size: {{ shoe.size }}</p>
<p>Colorway: {{ shoe.colorway }}</p>
<p>Description: {{ shoe.description }}</p>
<p>Release Date: {{ shoe.release_date }}</p>
<p>Price: ${{ shoe.price }}</p>
<a href="{% url 'shoes_update' shoe.id %}">EDIT</a>
<a href="{% url 'shoes_delete' shoe.id %}">DELETE</a>

<br>
<table>
    <form action="{% url 'add_review' shoe.id %}" method="POST">
        {% csrf_token %}
        {{ review_form.as_p }}
        <input type="submit" class="btn" value="Add Review">
    </form>
    {% if shoe.review_set.all %}
        <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Rating</th>
                <th>Review</th>
            </tr>
        </thead>
        <tbody>
        {% for review in shoe.review_set.all %}
            <tr>
                <td>{{review.user}}</td>
                <td>{{review.date}}</td>
                <td>{{review.rating}}</td>
                <td>{{review.review}}</td>
                <td>
                    <button>
                        <a href="{% url 'delete_review' shoe.id review.id %}">
                            X
                        </a>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    {% else %}
        <div>No Reviews Yet</div>
    {% endif %}
</table>

<table>
    <form action="{% url 'add_bid' shoe.id %}" method="POST">
        {% csrf_token %}
        {{ bid_form.as_p }}
        <input type="submit" class="btn" value="Add Bid">
    </form>
    {% if shoe.bid_set.all %}
        <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
        {% for bid in shoe.bid_set.all %}
            <tr>
                <td>{{bid.user}}</td>
                <td>{{bid.date}}</td>
                <td>${{bid.amount}}</td>
                <td>
                    <button>
                        <a href="{% url 'delete_bid' shoe.id bid.id %}">
                            X
                        </a>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    {% else %}
        <div>No Bids Yet</div>
    {% endif %}
</table>

{% endblock %}