{% extends 'base.html' %}
{% block content %}

<br>
<h1 class="newFont">My Shoes</h1>

<div class="row row-cols-1 row-cols-md-2 g-2">
  {% for shoe in object_list %}
    <div class="card">
      <div class="card-content">
        {% if shoe.photo_set.all %}
            {% for photo in shoe.photo_set.all %}
              <img class="center-block" src="{{photo.url}}" height="300vh" width="300vw">
            {% endfor %}
        {% else %}
            No photos uploaded 
        {% endif %}
        <p>User: {{ shoe.user }}</p>
        <p>Name: {{ shoe.name }}</p>
        <p>Brand: {{ shoe.brand }}</p>
        <p>Size: {{ shoe.size }}</p>
        <p>Colorway: {{ shoe.colorway }}</p>
        <p>Description: {{ shoe.description }}</p>
        <p>Release Date: {{ shoe.release_date }}</p>
        <p>Price: ${{ shoe.price }}</p>
        <button class="btn btn-light"><a class="newAnchor" href="{% url 'detail' shoe.id %}" >Edit Details</a></button>
        <br>
        <br>
      </div>
    </div>
        
  {% endfor %}
</div>

{% endblock %}