{% extends 'base.html' %}
{% block content %}

<br>
<div>
    <h1 class="newFont">About:</h1>
    <h3>Welcome to SockX! We strive to be a great asset for those selling or buying shoes. SockX is not just a parody name, its an acronym. Selling Only Cool Kicks is what we're all about! Oh yeah, and the X just stands for exchange. Anyways, feel free to browse around posts created by other users and find your feet their new best friend.</h3>
</div>
<div>
    <h1 class="newFont">Buying:</h1>
    <h3>When browsing our site please keep in mind you may be able to snag a deal by checking if you can bid on shoes. Or if you're not feeling too competitive you can just buy them now at the prices listed. </h3> 
</div>
    
<div>
    <h1 class="newFont">Selling:</h1>  
    <h3>Do you have shoes? Do you want money? Feel free to upload your own post selling shoes you no longer wear or want! Keep in mind all fields when adding a shoe to our site requires an input for them all or you cannot post and be sure to add a photo of the shoe you're selling!
</div>
<div>
    <h1 class="newFont">Reviews:</h1> 
    <h3>Reviews that show up on your post do not directly relate to the shoe being sold. Reviews on our site are for people who own/owned the same pair of shoes so customers can get further info on the pair they may be browsing.</h3>
    <h6>we are not responsible for scams! :)</h6>  
</div>

{% endblock %}