{% extends 'base.html' %}
{% block content %}

<h1>All Shoes</h1>

{% for shoe in object_list %}
  <div class="card">
    <a href="{% url 'detail' shoe.id %}" class="index">
      <div class="card-content">
        {% if shoe.photo_set.all %}
            {% for photo in shoe.photo_set.all %}
                <img src="{{photo.url}}" height="200vh" width="200vw">
            {% endfor %}
        {% else %}
            No photos uploaded 
        {% endif %}
        <p>Name: {{ shoe.name }}</p>
        <p>Brand: {{ shoe.brand }}</p>
        <p>Size: {{ shoe.size }}</p>
        <p>Price: ${{ shoe.price }}</p>
      </div>
    </a>
  </div>
{% endfor %}

{% endblock %}