nav {
    font-family: 'Orbitron', sans-serif;
}

.newFont {
    font-family: 'Orbitron', sans-serif;
}

.newAnchor {
    color: #276143;
}

header {
    background-color: lightgray;
}

.page-footer {
    float: right;
    color: white;
}

body.body {
    background-color: #276143;
}

.container {
    background-color: white;
}

h1 {
    text-align: center;
}

a.navbar-brand:hover {
    color: #276143;
}

.login {
    text-decoration: none;
    color: black;
}

.login:hover {
    color: black;
}